@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito", sans-serif;
}

@layer components {
    .navbar-li {
        @apply text-lg
        py-2 px-4
        md:p-2
        text-blue-dark
        dark:text-light-periwinkle
        rounded
        hover:bg-cg-blue
        md:hover:bg-transparent
        md:border-0
        md:hover:text-blue-dark
        md:dark:hover:text-star-command-blue;
    }

    .card {
        @apply block
        p-6
        max-w-sm
        bg-eton-blue
        rounded-2xl
        text-black
        shadow-md
        dark:text-white
        hover:bg-dark-sea-green
        dark:bg-amaranth-purple
        dark:hover:bg-dogwood-rose;
    }
}
